<div class="palm-row last">
	<div class="palm-group">
		<div class="palm-group-title">
			#{name}
		</div>
		<div class="palm-row">
				<div class="title">
					<div class="label">Key</div>
					<div class="key">#{key}</div>
				</div>
		</div>
		<div class="palm-row">
				<div class="title">
					<div class="label">Previous Key</div>
					<div class="key">#{prevkey}</div>
				</div>
		</div>
		<div class="palm-row last ">
			<div class="title">
				<div class="label">Time</div>
				<div class="">#{date}</div>
			</div>
		</div>
		<div x-mojo-element="ProgressBar" name="nextKey" class="progressbarClass" style="margin: 0 5px;"></div>
	</div>
</div>