<div>
	<div class="palm-page-header palm-dark multi-line">
		<div class="palm-page-header-wrapper">
			<div class="title left">
				<span x-mojo-loc=''>Identities</span>
			</div>
		</div>
	</div>

	<div class="palm-list">
		<div class="palm-row first last">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ToggleButton" id="toggleTokens"></div>
				<div class="title" x-mojo-loc=''>Show (secret) Tokens</div>
			</div>
		</div>
	</div>

	<div x-mojo-element="List" id="idList"></div>
</div>
