<div class="palm-row last">
	<div class="palm-group">
		<div class="palm-group-title">
			#{name}
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div class="textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Name</div>
						<div x-mojo-element="TextField" name="nameField"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div class="textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Serial</div>
						<div x-mojo-element="TextField" name="serialField"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="palm-row last">
			<div class="palm-row-wrapper">
				<div class="textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Token</div>
						<div name="tokenHiddenField">(hidden)</div>
						<div x-mojo-element="TextField" style="display: none" name="tokenField"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>