<div>
	<div class="palm-header">
		<div id="back" class="backPill"></div>
		<div class="palm-header-text">
			<span x-mojo-loc=''>Identities</span>
		</div>
	</div>

	<div class="palm-header-spacer"></div>

	<div class="palm-list">
		<div class="palm-row first last">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ToggleButton" id="toggleTokens"></div>
				<div class="title" x-mojo-loc=''>Show (secret) Tokens</div>
			</div>
		</div>
	</div>

	<div x-mojo-element="List" id="idList"></div>

	<span id="bottomScroller" />
</div>
